body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    /* background-image: url("http://saulfein.github.io/cookie-stand/img/salmon.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    margin-top: 45px;
}


/* header {
    background-color: darkcyan;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
}
h1 {
    font-size: 25px;
    text-align: center;
}
header nav ul li  {
    display: inline-block;
    padding: 0 150px;
    color: black;
    text-emphasis: none;
     */

header h1 {
    background-color: rgb(212, 113, 102);
    text-align: center;
    font-size: 45px;
    font-family: ui-serif;
    position: relative;
}

  ul  {
    display: table-caption;
    font-size: 20px;
    text-decoration: none;
}
#img {
    position: absolute;
    top: 100px;
    left: 350px;
}

#img2{
    position: relative;
    left: 188px;
}

main{
    position: relative;
}

h2 {
    background-color: saddlebrown;
    font-size: 29px;
    font-family: cursive;
    text-align: center;
}

main p { 
    font-size: x-large;
    font-family: -webkit-body;
    color: sienna;
}

#m1 {
    position: absolute;
    left: 850px;
    top: 264px;
}
#m2{
    position: absolute;
    left: 900px;
    top: 450px;
}

#m4{
     position: absolute; 
    left: 859px;
    bottom: 200px; 
}
 #m5{
    position: absolute;
    left: 363px;
 }

h3{
    font-family: ui-sans-serif;
    font-size: 28px;
}




main ol li {
    margin: 30px;
    padding-left: 10px;
}


h4{
    font-size: 19px;
    font-family: ui-serif;
}

h6{
    position: absolute;
    top: 40px;
    font-size: 22px;
    font-family: cursive;
}


footer {
    text-align: center;
    background-color: wheat;
}


table, th, td {
    border: 2px solid rgb(31, 20, 41);
    
}

#form {
    position: relative ;
    top: 150px;
}

#table {
    position: relative ;
    top: 100px;
}


#uls{
    position: absolute;
    top: 42px;
}