body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-image: url("http://saulfein.github.io/cookie-stand/img/salmon.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    margin-top: 45px;
}


/* header {
    background-color: darkcyan;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
}
h1 {
    font-size: 25px;
    text-align: center;
}
header nav ul li  {
    display: inline-block;
    padding: 0 150px;
    color: black;
    text-emphasis: none;
     */

header h1 {
    background-color: rgb(212, 113, 102);
    font-family: sans-serif;
}


main p { 
    font-size: x-large;
    font-family: -webkit-body;
    color: sienna;
}

h2 {
    background-color: saddlebrown;
    font-size: 29px;
    font-family: cursive;
}


ul {
    display: table-caption;
    font-size: 20px;
}

main ol li {
    margin: 30px;
    padding-left: 10px;
}




footer {
    text-align: center;
    background-color: wheat;
}


table, th, td {
    border: 2px solid rgb(31, 20, 41);
    
}

#form {
    position: relative ;
    top: 520px;
}

#table {
    position: relative ;
    top: 500px;
}