header h1 {
    background-color: rgb(212, 113, 102);
    font-family: sans-serif;
}


main p { 
    font-size: x-large;
    font-family: -webkit-body;
    color: sienna;
}

h2 {
    background-color: saddlebrown;
    font-size: 29px;
    font-family: cursive;
}


ul {
    display: table-caption;
    font-size: 20px;
}

footer {
    text-align: center;
    background-color: wheat;
}